// Colors

$white  : #F9F9F9;
$black  : #222222;
$purple : rgb( 172, 147, 214);


body {

	background: url('../../assets/img/stardust.png');
	//background: $purple;

}

h1, h2, h3 {
	
	color: $white;
	font-family: 'Open Sans', sans-serif;

}

h1 {

	font-size: 3em;
	margin-bottom: 0;

}


a {
	
	background: $white;
	color: $black;
	font-family: avenir;
	font-weight: 300;
	font-size: 0.9em;
	padding: 0.75em 2em;
	border: 2px solid $purple;
	border-radius: 6px;
	margin: 0.5em 1em;
	text-decoration: none;
	display: block;
	text-align: center;

	
	&:hover {
		background: $purple;
		color: $white;
	}
}

a#callout {
	
	background: $purple;
	color: $white;
	
	&:hover {
		background: $white;
		color: $purple;
	}
	
}

#container {
	
	height: 100%;
	width: 100%;
	position: relative;
}

#contact {
	
	position: relative;
	bottom: 20px;
	right: 0;
	width: 100%;
	margin-top: 150px;
	
}

@media screen and (min-width: 800px) {
	
	#contact {
		width: 200px;
	}
}

@media screen and (min-height: 450px) {
	
	#contact {
		position: absolute;
	}
}